/*
    Brand Guideline Source
    https://strapi.wasmenia.com/uploads/Etihad_Airlines_Guideline_5a7d17b7d6.pdf
*/
body{
    background-color: #2c0e1d;
    background-attachment: fixed; 
    font-family:Verdana;
    color: #eae8e1;
    margin:0;
    padding: 0px;
}
h1{
    text-align: center;
}
.topbar {
    margin: 0px;
    padding: 10px 20px 10px 20px;
    background-color: #c4921b;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 10px #eae8e1;
    overflow: hidden;
    box-sizing: border-box;
}
.cell{
    margin: 0;
}
.circle {
    float: right;
    display: grid;
    width: 50px;
    height: 50px;
    background-color: inherit;
    border-radius: 50%;
    place-items: center;
}
.container{
    padding: 10px;
    margin-top: 75px;
}
.filmcategories{
    display: flex;
}
.filmcategories h2{
    margin: 5px;
}
.category{
    width: 400px;
    max-width: 100%;
    margin:2px;
    border:none;
    padding: 25px;
    border:#c4921b 3px solid;
    border-radius: 10px;
    font-weight: bold;
    background-color: inherit;
    color: inherit
}
.category:hover{
    background-color: #c4921b;
}
.film{
    width: 350px;
    margin:2px;
    border:#c4921b 3px solid;
    padding: 5px;
}
.film img{
    width: 100%;
}
.film:hover{
    background-color: #c4921b;
}
#skipto ul{
    list-style-type: circle;
}
#skipto a{
    color: #c4921b;
    text-decoration: none;
}
#skipto a:hover{
    color:#eae8e1
}
.back{
    background-color: #2c0e1d;
    width:100px;
    padding:10px;
    border:none;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #eae8e1;
    text-decoration: solid;
    border:#c4921b 3px solid;
}
.back:hover{
    background-color: #c4921b;
}
#authenticationForm{
    width: 500px;
    max-width: 95%;
    margin:auto;
    text-align: center;
}
input{
    width: 100%;
    margin-top: 4px;
    padding: 10px;
    border: #c4921b 3px solid;
    background-color: inherit;
    color: inherit;
    box-sizing: border-box;
}
input[type=submit]{
    width: 100%;
    background-color: #c4921b;
}
input[type=submit]:hover{
    background-color: #2c0e1d;
}
textarea{
    margin-top: 4px;
    padding: 10px;
    border: #c4921b 3px solid;
    background-color: #eae8e1;
    color: #2c0e1d;
    box-sizing: border-box;
}
#videoContainer{
    width: auto;
    height: 60vh;
    height: auto;
    max-height: 60%;
    margin: 0 auto;
    display: flex;
}
#filmVideo{
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1000px) {
    p {
        font-size: 2rem;
    }
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 3rem;
    }
    .container{
        margin-top: 100px;
    }
    .category{
        font-size: 2rem;
    }
}