/* Main Body Styling */
body {
    background-color: #1e1e1e;
    font-family: Verdana;
    color: #1e1e1e;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    text-align: center;
}

/* Containers and cells within */
.container {
    display: block;
    background-color: #d0d0d0;
    box-shadow: 10px 10px 20px #103060;
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 1000px;
}

/*Top Bar specifics */
.topbar {
    padding: 10px 0;
    background-color: #103060;
    color: #d0d0d0;
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 1.6em;
    z-index: 10;
    text-align: center;
}

/* Film Categories */
.genreButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.genreButtons button {
    background-color: #103060;
    color: #d0d0d0;
    border: none;
    border-radius: 5px;
    font-size: 2em;
    padding: 10px 20px;
}

.genreButtons button:hover {
    background-color: #1e1e1e;
}

/* Film libraries Containers */
.movieContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.film {
    flex: 0 0 240px;
    text-align: center;
    border: #103060 5px solid;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
}

.film img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.film:hover {
    background-color: #103060;
    color: #d0d0d0
}

.film p {
    margin-bottom: 10px;
    margin-top: 0;
    max-width: 100%;
    padding: 3px;
    text-wrap: break-word;
    font-size: 1.5em;
}

/* back button*/
.back {
    background-color: #103060;
    font-size: 2em;
    width: 150px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #d0d0d0;
    text-decoration: solid;
    display: block;
}

.back:hover {
    background-color: #1e1e1e;
}

/* forms */
input,
select {
    width: 100%;
    margin-top: 4px;
    padding: 10px;
    border: #103060 3px solid;
    background-color: inherit;
    color: inherit;
    box-sizing: border-box;
    font-size: 1.5em;
    border-radius: 10px;
}

input[type=submit] {
    width: 100%;
    background-color: #103060;
    font-size: 1.5em;
    border: none;
    color: #d0d0d0
}

input[type=submit]:hover {
    background-color: #1e1e1e;
}

textarea {
    margin-top: 4px;
    padding: 10px;
    border-radius: 10px;
    border: #103060 3px solid;
    background-color: #d0d0d0;
    color: #1e1e1e;
    font-size: 1.5em;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* video of the film */
#filmVideo {
    width: 100%;
}

.movieView h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
}

.movieView p {
    text-align: justify;
    margin: 5px 0;
}

/* reviews */
.reviewCaption {
    font-size: 0.5em;
    color: #103060;
}

blockquote {
    border-left: 3px solid #103060;
    font-size: 1em;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote p {
    display: inline-block;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #103060;
    background-color: rgba(16, 48, 96, 0.4);
}

.modalContent {
    background-color: #d0d0d0;
    margin: auto;
    padding: 40px;
    border: #103060 3px solid;
    width: 80%;
    font-size: 1.5em;
}

.close {
    color: #1e1e1e;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #103060;
    cursor: pointer;
}

/* crew panel */
#paxMessagePanel button {
    background-color: #103060;
    padding: 10px;
    color: #d0d0d0;
    margin: 0;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
}

#paxMessagePanel button:hover {
    background-color: #1e1e1e;
}

#filmSelImg {
    max-width: 200px;
    width: 100%;
    height: auto;
    border: #103060 5px solid;
    border-radius: 10px;
    margin-top: 10px;
}

#filmDeleteButton {
    background-color: #800;
}

#filmDeleteButton:hover {
    background-color: #1e1e1e;
}

.reviewApp {
    border: 1px solid #1e1e1e;
    padding: 3px;
    border-radius: 3px;
    margin-top: 2px;
}

.reviewApp button {
    width: 25%;
    padding: 3px;
    border-radius: 5px;
    background-color: #103060;
    border: none;
    color: #d0d0d0
}

.reviewApp button:hover {
    background-color: #1e1e1e;
}

/* Crew panel progress bar */
#progressContainer {
    width: 100%;
    background-color: #d0d0d0;
    border: 2px solid #1e1e1e;
    border-radius: 5px;
    margin-top: 10px;
}

#progressBar {
    width: 0;
    height: 50px;
    background-color: #103060;
    border-radius: 5px;
    text-align: center;
    color: #d0d0d0;
}